
#total_count {
  font-size: 14px;
  color: #555;
}

#item_table {
  margin: 30px;
  width: 90%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#item_table tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

#item_table tr:nth-child(even) {
  background: #e8eeef;
}

#item_table th {
  font-size: 14px;
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
  padding: 8px;
}

#item_table td {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 8px;
}
