#post_table {
  margin: 30px;
  width: 90%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#post_table tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

#post_table tr:nth-child(even) {
  background: #e8eeef;
}

#post_table th {
  font-size: 14px;
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
  padding: 8px;
}

#post_table td {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 8px;
}

.control_button {
  width: 20px;
  height: 20px;
  margin: 0 6px;
}

.add_button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-left: 20px;
}
